@charset "UTF-8";

.detail-container{
	width: 100%;
 	border: 1px solid black;
}
.detail-main{
	width: 60%;
	border-bottom: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
.detail-main-titleline{
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height: 50px;
	
}
.detail-main-title{
	font-weight: 600;
	font-size: 18pt;
	text-align: center;
	position: relative;
	text-decoration: underline;
		
	
}

.detail-main-area{
	
	position:relative;
	text-align: center;
	font-size: 9pt;
	
}
.detail-main-informatoin{
	display: inline;
	position: relative;
	}
.detail-main-img{
	margin-top:40px;
	margin-bottom: 40px;
	width:90%;
}
#detail-place_img{
	width: 100%;
	height: 30%;
}
.detail-main-text{
	border-bottom: 3px solid black;
	width: 100%;
	text-align: left;
}

.detail-main-explain{
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 30px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 12pt;
}

.detail-weather{

	width: 60%;
	border-bottom: 1px solid black;
	
	margin-left: auto;
	margin-right: auto;
}
.detail-weather-title{
	width: 30%;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;	
	font-size: 14pt;
}

.detail-wheatehr-week{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	justify-content:center;
	border-bottom: 1px solid black; 
	background-color: #3295CC;
    
}



.detail-weather-week_date{
	margin-left: 60px;
	margin-right: 60px;

}

.detail-weather-weatherAll{
	z-index:2;
	background-color: orange;
	font-size: 9pt;
}
.detail-weather-weeklyWeather{
	display:flex;
	justify-content:space-around;
}
#detail-weather-dateWeatherDetail{
	text-align:center;
	display:inline;
	justify-content:space-between;
	margin-left: 50px;
	width: 40px;
	height: 100px;
	background-color: gray;
	z-index: 6;
}

.detail-weather-weatherCondition{
	text-align:left;
	margin-left: 20px;
}

#detail-weather-dateWeatherDetail{
	display:inline;
	
	margin-left: 90px;
	margin-right:50px;
	width: 15%;
	
}


.detail-place{
	margin-top: 20px;
	height: 800px;
}
.detail-place-root{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-color: #B9E2AE;
}
.detail-place-addr{
	width:60%;
	height:30px;
	margin-left:auto;
	margin-right: auto;
	background-color: #2B8940;
	border-bottom: 1px solid black;
}
.detail-place-map{
	width:60%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
