@charset "UTF-8";

.detail-container{
	width: 100%;
 	
}
.detail-main{
	width: 90%;
	border-bottom: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}
.detail-main-backgroundImg{
	width: 100%;
}
.detail-main-titleline{
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 100px;
	width: 100%;
	height: 50px;
}
.detail-main-title{
	font-weight: 530;
	font-size: 28pt;
	text-align: center;
	position: relative;
	margin-bottom: 15px;
	text-shadow: 3px 3px orange;
}

.detail-main-area{
	    width: 50%;
    margin-top: 25px;
    position: relative;
    text-align: center;
    font-size: 11pt;
    border-radius: 45%;
    background-color: #ffb100;
    margin-left: 260px;
}
.detail-main-informatoin{
	display: inline;
	position: relative;
	}
.detail-main-img{
	display:flex;
	justify-content:center;
	margin-top:40px;
	margin-bottom: 40px;
	margin-left:auto;
	width:100%;
}
#detail-place_img{
	border-radius: 16%;
	width: 80%;
	height: 30%;
}
.detail-main-text{
	border-bottom: 3px solid black;
	width: 100%;
	text-align: left;
}

.detail-main-explain{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 12pt;
}

.detail-weather-mk{
	margin-top: 70px;
	text-align:center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.detail-weather-title{
	text-align:center;
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 20px;	
	font-size: 24pt;
	font-weight: 800;
}

.detail-weather-recent{

	width: 100%;
	display: inline-flex;
	justify-content:center;
	margin-left: auto;
	margin-bottom: 30px;
}
.detail-weather-option{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	margin-left: auto;
	margin-bottom: 50px;
}

.detail-weather-optiontext{
	width:10%;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size:15pt;
	font-weight: 800;
	margin-left: -8px;
	margin-right: -8px;
}

.detail-place{
	width:90%;
	margin-left:55px;
	margin-top: 20px;
	height: auto;
}
.detail-place-root{
	width: 100%;
	font-weight:700;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.detail-place-addr{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid black;
}


#map-mk{

	display:flex;
	justify-content:center;
	width:100%;
	margin-left:20px;
	margin-right:20px;
	margin-bottom: 50px;

}

