@charset "UTF-8";

.recommend-banner {
	position: relative;
	display: flex;
	margin-top: -130px;
	width: 100%;
}

#recommend-banner-img {
	width: 100%;
	min-width: 1300px;
	opacity: 80%;
}

.recommend-banner-copy {
	position: absolute;
	top: 47%;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 800;
	line-height: 96px;
	text-align: center;
	color: black;
	white-space: nowrap;
	transition: font-size 0.3s ease;
	cursor: default;
}

@media (max-width: 1300px) {
  .recommend-banner-copy {
    left: 689px;
	font-size: 50px;
  }
}

@media (min-width: 1301px) {
  .recommend-banner-copy {
    left: 53%;
    font-size: calc(50px + 0.15vw);
  }
}

#recommend-search-menus{
	display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.recommend-search-themes{
	display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 10px;
}

.recommend-themes-title{
	font-weight: 700; 
}

.recommend-themes-label input[type="checkbox"]{
	display: none;
}

.recommend-themes-label input[type="checkbox"]:checked{
 	background: red;
 }

.recommend-search-places{
	display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommend-places-title{
	font-weight: 700;
	width: 50px;
}

.recommend-search-locations{
	display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recommend-locations-title{
	font-weight: 700;
}

.recommend-locations{
	font-weight: 500;
}

.recommend-result-div-wrap{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Noto Sans KR', sans-serif;
}

.recommend-result-div{
	margin-bottom: 100px;
    margin-left: 90px;
    width: 300px;
    height: 200px;
}

.recommend-result-img{
	width: 277px;
	height: 169px;
	border-radius: 20px;
}

.recommend-result-name{
	width: 50%;
    margin-top: 0px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
}

.recommend-result-location{
	font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

.recommend-result-nothing{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 30px;
}



