@charset "UTF-8";

.recommend-banner {
	position: relative;
	display: flex;
	margin-top: -130px;
	width: 100%;
}

#recommend-banner-img {
	width: 100%;
	min-width: 1300px;
	opacity: 80%;
}

.recommend-banner-copy {
	position: absolute;
	top: 47%;
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 800;
	line-height: 96px;
	text-align: center;
	color: black;
	white-space: nowrap;
	transition: font-size 0.3s ease;
	cursor: default;
}

@media (max-width: 1300px) {
  .recommend-banner-copy {
    left: 689px;
	font-size: 50px;
  }
}

@media (min-width: 1301px) {
  .recommend-banner-copy {
    left: 53%;
    font-size: calc(50px + 0.15vw);
  }
}

#recommend-search-menus{
	display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend-search-themes{
	display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.recommend-search-places{
	display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.recommend-search-locations{
	display: flex;
}

.result-div-wrap{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result-div{
	background-color: black;
	width: 300px;
	height: 200px;
}

.result-img{
	max-width: 150px;
}

