@charset "UTF-8";



.jm-modal {
  display: none;
  position: absolute;
  z-index: 2;
  left: 760px;
  top: -525px;
  width: 236px;
  height: 450px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 0;
  padding-right: 0;
}

.jm-modal-content {
  border: 1px solid #888;
  width: 236px;
}

.jm-modal-img {
	width: 235px;
}

.jm-close {
  color: rgb(250, 254, 222);
  float: right;
  font-size: 10pt;
  font-weight: bold;
}

.jm-close:hover,
.jm-close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}